:host {
  display: block;
}
.btn-common {
  background-color: #e99d42;
  border: 1px dotted #ffffff;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}

.btn-common:hover {
  color: #3b2878;
  background: transparent;
  border: 1px dotted #3b2878;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}