@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
  overflow-x: hidden;
}

body {
  background-color: #edddca;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #abacae;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}
h1, h2, h3, h4 {
    font-size: 38px;
    color: #222222;
    font-weight: 1300;
      font-stretch: semi-expanded;
    font-family: 'Roboto', serif;
  }

a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    color: #888888;
  }
  
  a:hover {
    text-decoration: none;
    color: #e99d42;
  }
  
  a a:focus {
    outline: none;
  }
  
  p {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    font-size: 14px;
  }
  
  ul, ol {
    font-size: 16px;
    color: #222222;
    list-style: outside none none;
    margin: 0;
    padding: 0;
  }

.oberpunkt{
    font-size: 22px;
    color: #222222;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    
    
    }
    .unterpunkt a{
      font-size: 16px;
      color: #222222;
      list-style: outside none none;
      margin: 5px;
      margin-left: 5px;
    
    }
    .unterpunkt:hover a{
      font-size: 18px;
      color: #3b2878;
      list-style: outside none none;
      margin: 5px;
      margin-left: 5px;
    
    }
    
    ul li, ol li {
      list-style: none;
    }
    
    a:not([href]):not([tabindex]) {
      color: #fff;
    }
    
    .section-header {
      margin-bottom: 30px;
    }
    
    .section-header p {
      text-align: center;
      font-weight: 400;
      line-height: 26px;
    }
    
    .section-title {
      font-size: 30px;
      color: #222222;
      display: inline-block;
      font-weight: 700;
      position: relative;
    }
    .accordion {
      background-color: #ffffff;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
      right: 20px;
      font-family: 'Roboto', serif;
    }
    
    
    
    .accordion:after {
      content: '\002B';
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }
    
    
    .panel {
        margin-left: 60px;
        padding: 5 18px;
      max-height: 0;
      overflow: hidden;
      margin: 10px;
      transition: max-height 0.5s ease-out;
    }
    .shape {
      height: 1px;
      margin: 0 auto 30px;
      position: relative;
      width: 60px;
      background-color: #3b2878;
    }
    
    .padding-none {
      padding: 0px;
    }
    
    .bg-gray {
      background: #f9f9f9;
    }
    
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background: rgba(61, 96, 244, 0.3);  
    }
    .navbar-brand {
    position: relative;
    padding: 0px;
  }
  
  .top-nav-collapse {
    background: rgba(255, 255, 255, 0.5);
    z-index: 999999;
    padding: 5px !important;
    top: 0px !important;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
    background: #fff !important;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }
  
  .top-nav-collapse .navbar-brand {
    top: 0px;
  }
  
  .top-nav-collapse .navbar-brand img {
    width: 28%;
  }
  
  .top-nav-collapse .navbar-nav .nav-link {
    color: #585b60 !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  
  .top-nav-collapse .navbar-nav .nav-link:hover {
    cursor: pointer;
    color: #3b2878 !important;
    border-color: #3b2878 !important;
  }
  
  .top-nav-collapse .navbar-nav .nav-link:hover {
    color: #3b2878 !important;
  }
  
  .navbar-expand-md .navbar-toggler {
    background: transparent;
    border: 1px solid #3b2878;
    color: #3b2878;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .navbar-brand img {
    width: 28%;
  }
  
  .top-nav-collapse .navbar-nav li.active a.nav-link {
    color: #3b2878 !important;
    border-color: #3b2878;
  }
  
  .indigo {
    background: transparent;
  }
  
  .menu-bg {
    background: transparent;
  }
  
  .navbar-expand-md .navbar-nav .nav-link i {
    font-size: 14px;
    margin-left: 5px;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-expand-md .navbar-nav .nav-item {
    padding-left: 25px;
  }
  
  .navbar-expand-md .navbar-nav .nav-link {
    color: #333;
    font-weight: 400;
    padding: 7px 0;
    cursor: pointer;
    position: relative;
    background: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-expand-md .navbar-nav .nav-link:before {
    background-color: #3b2878;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    margin: 0 auto;
    width: 0;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: width 1s;
    -ms-transition: width 1s;
    -webkit-transition: width 1s;
  }
  
  .navbar-expand-md .navbar-nav li a:hover,
  .navbar-expand-md .navbar-nav li .active > a,
  .navbar-expand-md .navbar-nav li a:focus {
    color: #3b2878;
    outline: none;
  }
  
  .navbar-expand-md .navbar-nav .active > .nav-link,
  .navbar-expand-md .navbar-nav .nav-link.active,
  .navbar-expand-md .navbar-nav .nav-link.open,
  .navbar-expand-md .navbar-nav .open > .nav-link {
    color: #3b2878 !important;
    width: 100%;
  }
  
  .navbar-expand-md .navbar-nav .nav-link:hover,
  .navbar-expand-md .navbar-nav .nav-link:hover::before,
  .navbar-expand-md .navbar-nav .nav-link:focus {
    color: #3b2878;
    width: 100%;
    transition: width 1s;
    -webkit-transition: width 1s;
    -ms-transition: width 1s;
  }
  
  .navbar {
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 0;
  }
  
  .navbar li.active a.nav-link {
    color: #e99d42;
  }
  
  .dropdown-toggle::after {
    display: none;
  }
  
  .dropdown-menu {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 99;
    min-width: 210px;
    background-color: #fff;
    white-space: nowrap;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    animation: fadeIn 0.4s;
    -webkit-animation: fadeIn 0.4s;
    -moz-animation: fadeIn 0.4s;
    -o-animation: fadeIn 0.4s;
    -ms-animation: fadeIn 0.4s;
  }
  
  .dropdown-menu:before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -5px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #fff;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    text-align: left;
    top: 100%;
    border: none;
    animation: fadeIn 0.4s;
    -webkit-animation: fadeIn 0.4s;
    -moz-animation: fadeIn 0.4s;
    -o-animation: fadeIn 0.4s;
    -ms-animation: fadeIn 0.4s;
  }
  
  .dropdown .dropdown-menu .dropdown-item {
    width: 100%;
    padding: 12px 20px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #f1f1f1;
    text-decoration: none;
    display: inline-block;
    float: left;
    clear: both;
    position: relative;
    outline: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  .dropdown .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .dropdown .dropdown-menu .dropdown-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .dropdown .dropdown-item:focus,
  .dropdown .dropdown-item:hover,
  .dropdown .dropdown-item.active {
    color: #3b2878;
    background: #f7f7f7;
  }
  
  .dropdown-item.active, .dropdown-item:active {
    background: transparent;
  }
  
  .fadeInUpMenu {
    -webkit-animation-name: fadeInUpMenu;
    animation-name: fadeInUpMenu;
  }

.btn {
    font-size: 14px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    border-radius: 30px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
  }
  
  .btn:focus,
  .btn:active {
    box-shadow: none;
    outline: none;
    color: #fff;
  }
  
  .btn-common {
    background-color: #e99d42;
    border: 1px dotted #ffffff;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
  }
  
  .btn-common:hover {
    color: #3b2878;
    background: transparent;
    border: 1px dotted #3b2878;
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
  }
  
  
  .btn-border {
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 30px;
    text-transform: uppercase;
  }
  
  .btn-border:hover {
    color: #fff;
    border-color: #E99D42;
    background-color: #E99D42;
  }
  
  .btn-border:focus {
    color: #fff;
    border-color: #3b2878;
    background-color: #3b2878;
  }
  
  .btn-lg {
    padding: 14px 33px;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  .btn-rm {
    padding: 7px 0px;
    color: #3b2878;
    text-transform: capitalize;
  }
  
  .btn-rm:hover {
    color: #3b2878;
  }
  
  button:focus {
    outline: none !important;
  }
  
  .icon-close, .icon-check {
    color: #3b2878;
  }
  
  
  /* ==========================================================================
3. Hero Area
========================================================================== */
#hero-area {
    background-image: url(../img/umfrageHead.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
    position: relative;
    overflow: hidden;
   padding: 200px 0 80px;
  padding-bottom: 200px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  margin-bottom: 90px;
  }
  
  #hero-area .head-title {
   color: #fff;
  font-size: 110px;
  font-weight: 700;
  line-height: 110px;
    margin-bottom: 10px;
  }
  
  #hero-area .header-button {
    margin-top: 20px;
    color: #222222;
    left: 0;
    /*Anpassung*/
    
    height: 45px;
  }
  
  #hero-area .header-button .btn {
    margin-right: 10px;
    width: 150px;
    height: 45px;
    margin: auto;
      margin-top: 30px;
  }
  
  .sloder-img {
    background: #34363a;
  }

  /*==========================================================================
  Checkboxen: Anfang
  ==========================================================================*/

.checkbox-container {
    display: flex;
    height: auto;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 220px;
}

.checkbox-kasten {
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 7px 20px 0px rgba(50, 50, 50, 0.41);
    -moz-box-shadow:    0px 7px 20px 0px rgba(50, 50, 50, 0.41);
    box-shadow:         0px 7px 20px 0px rgba(50, 50, 50, 0.41);
    width: 30%;
    height: 70px;
    margin: 5px;
    padding-left: 20px;
    display: flex;
    overflow: hidden;

}

.checkbox-content {
    align-self: center;
}

label {
    margin-left: 20px;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-size: 14pt;
}

input[type="checkbox"] {
    position: absolute;
    left: -100px;
  }
  input[type="checkbox"]+label::before {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    border: 2px solid #e99d42;
    background-color: #fff;
    display: block;
    content: "";
    float: left;
    margin-right: 5px;
  }
  input[type="checkbox"]:checked+label::before {
    box-shadow: inset 0px 0px 0px 3px #fff;
    background-color: #e99d42;
  }

  /*Checkboxen: Ende*/


/* Footer Area Start */
.footer-area {
    position: relative;
    padding: 150px 0px 0px;
    background: #fff;
  }
  
  .footer-area .footer-titel {
    font-size: 18px;
    color: #333333;
    font-weight: 500;
    padding-bottom: 20px;
    letter-spacing: 0.5px;
  }
  
  .footer-area .footer-titel span {
    color: #ccc;
    font-weight: 400;
  }
  
  .footer-area .textwidget p {
    color: #333;
    padding: 8px;
  
  }
  
  .footer-area .footer-link li {
    margin-bottom: 10px;
  }
  
  .footer-area .footer-link li a {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    position: relative;
  }
  
  .footer-area .footer-link li a:hover {
    color: #3b2878;
  }
  
  .footer-area .address li {
    margin-bottom: 20px;
  }
  
  .footer-area .address li a {
    color: #666666;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
  }
  
  .footer-area .address li a i {
    font-size: 22px;
    width: 32px;
    vertical-align: middle;
    height: 36px;
    text-align: center;
    display: inline-block;
    float: left;
    margin-right: 5px;
    line-height: 32px;
  }
  
  .footer-area #subscribe-form {
    margin-top: 10px;
  }
  
  .footer-area #subscribe-form .form-group {
    position: relative;
  }
  
  .footer-area #subscribe-form .form-group .btn-common {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 15px;
    height: 52px;
    border-radius: 0;
    background: transparent;
    color: #3b2878;
  }
  
  .logo-footer {
    max-width: 20px;
  }
  
  #copyright .copyright-content {
    border-top: 1px solid #d5d4e9;
    padding: 15px 0;
    margin: 45px 0 0px;
  }
  
  #copyright p {
    line-height: 42px;
    color: #333;
    text-align: center;
    margin: 0;
  }
  
  #copyright p a {
    color: #3b2878;
  }
  
  .social-icon a {
    color: #272727;
    background: #fff;
    width: 32px;
    height: 32px;
    line-height: 34px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    margin: 15px 6px 12px 4px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
  }
  
  .social-icon a:hover {
    color: #fff !important;
  }
  
  .social-icon .facebook:hover {
    background: #3b5999;
  }
  
  .social-icon .twitter:hover {
    background: #4A9CEC;
  }
  
  .social-icon .instagram:hover {
    background: #D6274D;
  }
  
  .social-icon .linkedin:hover {
    background: #1260A2;
  }
  
  .social-icon .google:hover {
    background: #CE332A;
  }
  