@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:host {
  display: block;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  color: #abacae;
  width: 40%;
}

form {
  width: inherit;
  margin: 1.5rem;
}

label {
  font-size: 1.2rem;
}

button {
  background-color: #fff;
  color: #abacae;
  border: 1px solid #707070;
  width: 8rem;
  height: 2rem;
  margin: 1.5rem;
  padding: 0.5rem;
}

#fquestion {
  width: 30rem;
}
input[type='radio'] {
  margin: 10px;
  color: #e99d42;
}
#fanswertype {
  display: inline-block;
}

.kasten {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 7px 20px 0px rgba(50, 50, 50, 0.41);
  -moz-box-shadow: 0px 7px 20px 0px rgba(50, 50, 50, 0.41);
  box-shadow: 0px 7px 20px 0px rgba(50, 50, 50, 0.41);

  /*width: 90%;*/
  min-width: 750px; /*damit es nicht zu schmal wird*/
  margin: 1rem;
  padding: 20px;
}

.radio-kasten {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 7px 20px 0px rgba(50, 50, 50, 0.41);
  -moz-box-shadow: 0px 7px 20px 0px rgba(50, 50, 50, 0.41);
  box-shadow: 0px 7px 20px 0px rgba(50, 50, 50, 0.41);

  margin: 5px;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
}

.answers {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.marg-top {
  margin-top: 80px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 0;
  justify-items: start;
}

.item-1-1 {
  grid-column: 1;
  grid-row: 1;
  position: relative;
}
.answertypeoptions {
  position: relative;
  border-left: #e99d42 solid 1px;
}

.item-2-1 {
  grid-column: 2;
  grid-row: 1;
}

.item-1-2 {
  grid-column: 1;
  grid-row: 2;
}

.item-1-3 {
  grid-column: 1;
  grid-row: 3;
}

.item-1-4 {
  grid-column: 1;
  grid-row: 4;
}

.item-2-2 {
  grid-column: 2;
  grid-row: 2;
}

.item-2-3 {
  grid-column: 2;
  grid-row: 3;
}

.item-2-3-btn {
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
  align-self: end;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  margin-bottom: 10px;
  font-size: 20px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 14px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.infocircle {
  height: 25px;
  width: 25px;
  background-color: #3b2878;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  margin-left: 0.5rem;
}

.infocircle p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  vertical-align: middle;
}

.primary-container {
  display: flex;
  width: 1400px;
  flex-direction: row;
  flex-wrap: nowrap;
}

.preview-container {
  /* display: flex;*/
  width: 400px;
  /*flex-direction: column;*/
}

.right-container {
  /* display: flex; */
  width: 600px;
  /* flex-direction: row; */
}

.form-container {
  /* display: flex; */
  width: 600px;
  /* flex-direction: row; */
}

.how-to-container {
  /* display: flex; */
  width: 400px;
  /* flex-direction: column; */
}

.empty-question-container {
  /* display: flex; */
  width: 400px;
  /* flex-direction: column; */
}

.answertype-container {
  /* display: flex; */
  width: 200px;
  /* flex-direction: column; */
}

.hidden {
  display: none;
}
.visible {
  visibility: show;
}
.btn-common {
  background-color: #fafafa;
  border: 1px dotted #bbb;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}

.btn-common:hover {
  color: #3b2878;
  background: transparent;
  border: 1px dotted #3b2878;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.btn {
  font-size: 14px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 400;
  color: #3b2878;
  border-radius: 30px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}
