@import '../../global/app.scss';

.app-profile {
}

#profilesection {
  background-color: $yellow;
  height: 30em;
  font-weight: bold;
  color: var(--beige);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.contentcontainer {
  padding-left: 80px;
  padding-right: 80px;
}

#username {
  font-size: 3em;
}

h1 {
  font-size: 3em;
  color: var(--beige);
  line-height: 1.3em;
  margin: 20px;
}

#overview {
}

.surveyelement {
  width: 25em;
  height: 5em;
  border-radius: 40px;
}

.onesurveyelement {
  background-color: #551868;
}

/*.putinline {
  vertical-align: top;
  display: inline-block;
}*/

.surveyelementtext h2,
p {
  padding-left: 30px;
  margin: 0;
}

.surveyelement h2 {
  font-weight: bold;
}

#profilepicture {
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  display: inline-block;
  border-radius: 20px;
}

#profiletext {
  padding: 30px;
  display: inline-block;
}

#newsurveybutton {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

#newsurveybutton p {
  font-size: 4em;
  padding: 0;
}
