:host {
  display: block;
}

.surveyplate .icons {
  margin: 0 auto;
  font-size: 2rem;
  line-height: 4.5rem;
  padding: 0;
  opacity: 0;
  transition: 0.3s;
}

.surveyplate:hover .icons {
  opacity: 1;
}
.empty-plate {
  border: 1px solid #656565;
  transition: 0.2s;
}

.empty-plus {
  font-size: 3rem;
  font-weight: lighter;
  line-height: 4.5rem;
  padding: 0;
  transition: 0.2s;
}

.empty-plate:hover {
  box-shadow: 0 0.2rem 0.4rem 0.2rem rgba(27, 38, 49, 0.1);
}

.empty-plate:hover .empty-plus {
  color: #e99d42;
  font-weight: bold;
}

.surveyplate {
  height: 4.5rem;
  border-radius: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
